::-webkit-scrollbar {
    width: 1px;
    height: 1px;
}

::-webkit-scrollbar-button {
    width: 1px;
    height: 1px;
}

html,
body {
    width: 100vw;
    height: 100vh;
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
}

.all_sections {
    overflow: hidden;
    white-space: nowrap;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-wrap: no-wrap;
}

.section_content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 2.25rem 3.8125rem;
    z-index: 10;
}

.section_content_second_type {
    padding: 5.25rem 6.375rem 0;
    display: flex;
    flex-direction: column;
}

.overlay {
    overflow: hidden;
}

.page_section {
    flex: 0 0 100vw;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.small_text {
    font-size: 0.9375rem;
    color: #000000;
}

.small_screen_text {
    display: none;
    text-align: center;
    padding-top: 1.75rem;
}

.small_screen_text span {
    font-weight: 500
}

.normal_text {
    font-size: 1.5625rem;
}

.title_style {
    font-size: 2.5rem;
    font-weight: 600;
    color: #E5E5E5;
    width: 100%;
    height: fit-content;
    z-index: 10;
    position: relative;
}

.main-section__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 9.625rem;
}

.small_menu {
    display: none;
}

.small_menu__hidden {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    z-index: 2;
    padding: 10rem 2rem 0;
}

.hidden_menu_background {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}


.small_menu__hidden .small_text {
    text-align: center;
    font-size: 1.3rem;
}

.small_menu__hidden .main-section__contacts:nth-of-type(1) {
    padding-bottom: 2rem;
}

.header_menu {
    position: relative;
    z-index: 10;
}

.header_burger_menu {
    z-index: 1001;
    display: flex;
    justify-content: flex-end;
}

.menu__icon {
    display: inline-block;
    width: 2.85rem;
    height: 2.58rem;
    position: relative;
    cursor: pointer;
}

.menu__icon span {
    display: block;
    position: absolute;
    height: 0.2rem;
    width: 100%;
    background-color: #E5E5E5;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);

    transition: .25s ease-in-out;
}

.menu__icon span:nth-child(1) {
    top: 0;
}

.menu__icon span:nth-child(2),
.menu__icon span:nth-child(3) {
    top: 0.75rem;
    right: 0;
    left: unset;
    width: 100%;
}

.menu__icon span:nth-child(4) {
    top: 1.5rem;
    right: 0;
    left: unset;
    width: 100%;
}

.header_burger_menu.menu_state_open .menu__icon span:nth-child(1) {
    top: 1rem;
    width: 0%;
    left: 50%;
    background-color: #000000;
}

.header_burger_menu.menu_state_open .menu__icon span:nth-child(2) {
    transform: rotate(45deg);
    background-color: #000000;
}

.header_burger_menu.menu_state_open .menu__icon span:nth-child(3) {
    transform: rotate(-45deg);
    background-color: #000000;
}

.header_burger_menu.menu_state_open .menu__icon span:nth-child(4) {
    top: 1rem;
    width: 0%;
    left: 50%;
    background-color: #000000;
}

.main-section__contacts span {
    text-transform: uppercase;
    font-weight: 500;
}

.company_logo_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.company_logo {
    width: 13.75rem;
    height: 5.75rem;
}

.company_logo_container span {
    padding-top: 1.625rem;
}

.scroll_controler_conatiner {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 15.5rem;
}

.advantage {
    display: flex;
    flex-direction: column;
}

.advantage .title_style {
    text-align: center;
}

.advantages__content {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-top: 2.9375rem;
}

.advantages__content .normal_text {
    margin-right: 10%;
}

.advantages__content span {
    font-weight: bold;
}


.our_works {
    display: flex;
    flex-direction: column;
}

.our_works_content {
    width: 100%;
    padding-top: 3.8125rem;
    position: relative;
    flex: auto;
}

.our_works_content_item {
    height: 100%;
}

.our_works_content .normal_text {
    width: 60%;
}

.our_works_content_item__controls {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.9375rem;
}

.our_works_content_item__controls svg {
    width: 4.125rem;
    height: 0.75rem;
}

.our_works_content_item__controls a {
    text-decoration: unset;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.our_works_content_page_link {
    font-size: 1.25rem;
    text-decoration: underline;
    color: #AEAEAE;
}

.our_works_content_control {
    color: #E1197E;
    font-size: 1.25rem;
    text-decoration: underline;
    margin-right: 1rem;
    cursor: pointer;
}

.our_works_content__logo {
    background-image: url(../img/logo1.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 16.5625rem;
    height: 7.6875rem;
    margin-bottom: 1rem;
}


.our_works_content_item_img {
    position: absolute;
    right: 1.125rem;
    height: 28rem;
    width: 23rem;
    bottom: 0rem;
    flex-shrink: 0;
    background-image: url(../img/our_works1.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.workers_slider__small_screen {
    display: none;
    width: 100%;
    padding-top: 2.66rem;
    position: relative;
}

.workers_slider_activ {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.workers_small_slider__controls {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 10%;
    justify-content: space-between;
    position: absolute;
    top: 19rem;
}

.workers_small_slider_bullets {
    width: 0.583rem;
    height: 0.583rem;
    margin-right: 0.5rem;
    background-color: #E9E9E9;
    border-radius: 50%;
}

.workers_small_slider__prev,
.workers_small_slider__next {
    width: 2rem;
    cursor: pointer;
}

.activ_bullet {
    background-color: #333333;
}

.reasons .title_style,
.workers .title_style {
    color: #DE73B8;
}

.reasons_content {
    width: 100%;
    padding-top: 2.25rem;
    padding-left: 4.5rem;
    z-index: 10;
    position: relative;
}

.reasons_content_item {
    padding-bottom: 2.25rem;
}

.reasons_content_item .normal_text,
.reasons_content_item h3 {
    color: #FEFEFE;
}

.reasons_content_item h3 {
    font-size: 1.875rem;
    font-weight: 600;
    padding-bottom: 0.8rem;
}

.workers_content {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 10;
}

.workers_content_item:nth-of-type(1) {
    width: 40%;
    min-height: 181px;
}


.workers_content_item:nth-of-type(2) {
    width: 55%;
}

.workers_content_item .small_text {
    color: #FEFEFE;
    padding-top: 0.8125rem;
    display: block;
}

.workers_content_item h3 {
    color: #FFFFFF;
    font-size: 2.25rem;
    font-weight: bold;
    margin-top: -5rem;
    width: 80%;

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.workers_content_item:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.workers_content_item:nth-of-type(2) {
    display: flex;
    flex-wrap: wrap;
    margin-top: -1rem;
}

.workers_content_item_pic {
    width: 7.75rem;
    height: 7.75rem;
    border-radius: 50%;
    box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 2rem 2rem 0;

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.workers_content_item_pic:hover,
.workers_content_item_pic.hover {
    transform: scale(1.2);
    box-shadow: 0.375rem 0.5rem 0.8125rem rgba(0, 0, 0, 0.25);
}

.workers_scills_wrap {
    display: flex;
    width: 100%;
    padding-top: 1.6875rem;
}

.workers_skills {
    display: flex;
    flex-wrap: wrap;
}

.workers_skills li {
    font-size: 0.8125rem;
    color: #ffffff;
    width: 50%;
}

.workers_content_item_pic:nth-of-type(1),
.first_worker_pic {
    background-image: url(../img/worker_pic1.jpg);
}

.workers_content_item_pic:nth-of-type(2),
.second_worker_pic {
    background-image: url(../img/worker_pic2.png);
}

.workers_content_item_pic:nth-of-type(3),
.third_worker_pic {
    background-image: url(../img/worker_pic3.png);
}

.workers_content_item_pic:nth-of-type(4),
.fourth_worker_pic {
    background-image: url(../img/worker_pic4.png);
}

.workers_content_item_pic:nth-of-type(5),
.fifth_worker_pic {
    background-image: url(../img/worker_pic5.png);
}

.workers_content_item_pic:nth-of-type(6),
.sixth_worker_pic {
    background-image: url(../img/worker_pic6.png);
}

.workers_content_item_pic:nth-of-type(7),
.seventh_worker_pic {
    background-image: url(../img/worker_pic7.png);
}

.workers_content_item_pic:nth-of-type(8),
.eighth_worker_pic {
    background-image: url(../img/worker_pic8.png);
}

.workers_content_item_pic:nth-of-type(9),
.nineth_worker_pic {
    background-image: url(../img/worker_pic9.png);
}

.workers_slider__small_screen-item {
    width: 100%;
}

.workers_slider__small_screen-item h3 {
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
}

.workers_slider_position {
    font-size: 1.0833rem;
    text-align: center;
    display: block;
    padding: 0.6rem 0 1.66rem;
}

.workers_slider_skills {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.workers_slider_skills li {
    width: 50%;
    text-align: center;
}

.workers_slider__small_screen_pic {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 14.66rem;
    height: 14.66rem;
    border-radius: 50%;
    box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    margin: 0 auto 5.33rem;
}

.contacts .section_content_second_type {
    padding: 5.25rem 10.125rem 0;
}

.contacts_content {
    display: flex;
    padding-top: 2.3125rem;
    padding-bottom: 10.875rem;
}

.contacts_content h3 {
    padding-bottom: 2.1875rem;
    font-weight: 400;
}

.contacts_content_item {
    width: 50%;
}

.contacts_content_item:nth-of-type(2) {
    display: flex;
    justify-content: flex-end;
}

.contacts_content_item_group {
    display: flex;
    align-items: center;
    padding-bottom: 1.3125rem;
}

.contacts_content_item_group svg {
    margin-right: 1.5rem;
    width: 1.5625rem;
    height: 1.5625rem;
}

.contacts_content_item_group span {
    font-size: 1.25rem;
}

.contacts_content_item form {
    display: flex;
    flex-direction: column;
    padding-top: 2.5625rem;
}

.apply_form_input {
    outline: none;
    border: unset;
    border-bottom: 0.0625rem solid #7E7E7E;
    color: #7E7E7E;
    font-size: 1.25rem;
    background-color: transparent;
}

.apply_form_input::placeholder {
    color: #7E7E7E;
    font-size: 1.25rem;
    font-family: 'Montserrat', sans-serif;
}

.apply_form_input:nth-of-type(2) {
    margin-top: 1.75rem;
}

.apply_form_btn {
    background-color: #E2197E;
    border-radius: 1.875rem;
    border: unset;
    color: #FEFEFE;
    font-size: 1.25rem;
    line-height: 1.3;
    padding: 1rem 2.5rem;
    outline: none;
    margin-top: 3.4375rem;
}

.confidential_politics {
    width: 30%;
    color: #FEFEFE;
    text-decoration: underline;
    position: absolute;
    z-index: 10;
    height: 2rem;
    top: calc(100vh - 4rem);
    left: 35%;
    right: 35%;
    ;
}

.main_section_bg_left {
    position: absolute;
    left: 0;
    bottom: -0.5rem;
    width: 50%;
}

.advantage_bg {
    position: absolute;
    left: -35%;
    right: -50%;
    bottom: -0.5rem;
}

.reasons_bg {
    position: absolute;
    right: -70%;
    top: 0;
    left: -45%;
    min-height: 90%;
}


.apply_bg {
    position: absolute;
    bottom: -0.5rem;
    right: 0;
    width: 100%;
}


.scroll_pic {
    position: absolute;
    width: 0.6875rem;
    animation: animated_scroll 1s infinite ease-in-out;
}

.invisible_item {
    display: none;
    opacity: 0;
}

.slider_anumation {
    position: relative;
    animation: animated_slider 0.3s infinite ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

.parallax_back_layer {
    background-image: url(../img/parallax_back_layer.svg);
    background-repeat: no-repeat;
    background-size: 80% 180%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100vw;
    width: 100vw;
    z-index: -1;
    transform-style: preserve-3d;
    transform: translateZ(-10px) scale(8) rotate(90deg);
    background-attachment: fixed;
}

.parallax_front_layer {
    background-image: url(../img/parallax_front_layer.svg);
    background-repeat: no-repeat;
    background-size: 70% 185%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100vw;
    width: 100vw;
    z-index: -1;
    transform-style: preserve-3d;
    transform: translateZ(-1px) scale(2) rotate(90deg);
    background-attachment: fixed;
    display: none;
}

.parallax_wrap {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    perspective: 1px;
    overflow-x: hidden;
    overflow-y: auto;
}

@keyframes animated_scroll {
    from {
        opacity: 1;
        top: 5rem;
    }

    to {
        opacity: 0;
        top: 10rem;
    }
}

@keyframes animated_slider {
    from {
        opacity: 0;
        transform: matrix(0.90, 0.00, 0.00, 1.00, 20, -20);
        -ms-transform: matrix(0.90, 0.00, 0.00, 1.00, 20, -20);
        -webkit-transform: matrix(0.90, 0.00, 0.00, 1.00, 20, -20);

    }

    to {
        opacity: 1;
        transform: matrix(1.00, 0.00, 0.00, 1.00, 0, 0);
        -ms-transform: matrix(1.00, 0.00, 0.00, 1.00, 0, 0);
        -webkit-transform: matrix(1.00, 0.00, 0.00, 1.00, 0, 0);
    }
}

.main_section_small_bg {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
}

.advantage_small_bg {
    display: none;
    position: absolute;
    top: -35%;
    left: 0;
    right: 0;
    bottom: 0
}

.reasons_small_bg {
    display: none;
    position: absolute;
    top: -20%;
    left: 0;
    right: 0;
    bottom: 0
}

.workers_small_bg_left {
    display: none;
    position: absolute;
    top: 8%;
    left: 0;
    width: 18%;
}

.workers_small_bg_right {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 12%;
}

.contacts_small_bg {
    display: none;
    position: absolute;
    top: -2%;
    right: 0;
    left: 0;
}

@media screen and (min-width: 2001px) and (max-width: 2560px) {

    html,
    body {
        font-size: 30px;
    }
}

@media screen and (min-width: 1801px) and (max-width: 2000px) {

    html,
    body {
        font-size: 27px;
    }
}

@media screen and (min-width: 1601px) and (max-width: 1800px) {

    html,
    body {
        font-size: 24px;
    }
}

@media screen and (min-width: 1441px) and (max-width: 1600px) {

    html,
    body {
        font-size: 20px;
    }
}

@media screen and (min-width: 1300px) and (max-width: 1440px) {

    html,
    body {
        font-size: 19px;
    }
}

@media screen and (min-width: 991px) and (max-width: 1070px) {

    html,
    body {
        font-size: 15px;
    }

}

@media screen and (min-width: 925px) and (max-width: 990px) {

    html,
    body {
        font-size: 14px;
    }
}

@media screen and (min-width: 870px) and (max-width: 924px) {

    html,
    body {
        font-size: 14px;
    }

    .section_content_second_type {
        padding: 5.25rem 4.375rem 0;
    }
}

@media screen and (min-width: 781px) and (max-width: 869px) {

    html,
    body {
        font-size: 13px;
    }

    .section_content_second_type {
        padding: 4.25rem 3.375rem 0;
    }
}

@media screen and (min-width: 731px) and (max-width: 780px) {

    html,
    body {
        font-size: 12px;
    }

    .section_content_second_type {
        padding: 4.25rem 3.8125rem 0;
    }
}

@media screen and (min-width: 601px) and (max-width: 730px) {

    html,
    body {
        font-size: 12px;
    }

    .section_content_second_type {
        padding: 4.25rem 3.8125rem 0!important;
    }


    .workers_content_item:nth-of-type(1),
    .workers_content_item:nth-of-type(2) {
        display: none;
    }

    .workers_slider__small_screen {
        display: block;
        width: 80%;
    }

    .workers_slider__small_screen_pic {
        margin: 0 0 5.33rem;
    }

    .workers_slider__small_screen-item h3,
    .workers_slider_position,
    .workers_slider_skills li {
        text-align: unset;
    }

    .workers_slider_skills {
        position: absolute;
        top: 4rem;
        right: -22rem;
    }

    .workers_small_slider__controls {
        position: absolute;
        top: 30rem;
    }

}


@media screen and (min-width: 501px) and (max-width: 600px) {

    html,
    body {
        font-size: 14px;
        width: 100%;
        height: 100%;
    }

    .advantage_small_bg {
        top: -40%;
    }

    .all_sections {
        position: relative;
        display: block;
        overflow: unset;
    }

    .section_content {
        position: static;
        height: 100%;
        width: 100%;
        padding: 1.66rem 1.66rem;
    }

    .big_bg_pic,
    .parallax_wrap,
    .main-section__header,
    .big_screen_text,
    .workers_content_item:nth-of-type(1),
    .workers_content_item:nth-of-type(2) {
        display: none;
    }

    .page_section {
        flex: unset;
        height: 150vh;
    }

    .small_menu,
    .small_screen_text {
        display: block;
    }

    .company_logo_container {
        padding-top: 15rem;
    }

    .company_logo {
        width: 11.75rem;
        height: unset;
    }

    @keyframes animated_scroll {
        from {
            opacity: 1;
            top: 6rem;
        }

        to {
            opacity: 0;
            top: 11rem;
        }
    }

    .title_style {
        font-size: 1.5rem;
        text-align: center;
    }

    .normal_text {
        font-size: 1.33rem;
    }

    .advantages__content .normal_text {
        margin-right: unset;
        color: #ffffff;
    }

    .advantages__content {
        display: block;
        position: absolute;
        bottom: 10rem;
    }

    .advantage .section_content {
        position: relative;
        padding-top: 4rem;
    }

    .our_works_content_item__controls {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .our_works_content_item__controls a {
        background-color: #E2197E;
        padding: 1.33rem 3.5rem;
        border-radius: 2.5rem;
        margin-bottom: 2.416rem;
    }

    .our_works_content_page_link {
        text-decoration: unset;
        text-transform: capitalize;
        color: #ffffff;
    }

    .our_works_content_control {
        color: #9C9C9C;
    }

    .our_works_content_control svg {
        margin-left: 1rem;
    }

    .our_works_content_control path {
        stroke: #9C9C9C;
    }

    .our_works_content_item_img {
        right: -10rem;
        z-index: -1;
        display: none;
    }

    /*.our_works .section_content_second_type {
        padding: 8.25rem 1.66rem 0;
    }*/

    .reasons_content {
        padding-left: unset;
        padding-top: 3.33rem;
    }

    .workers_slider__small_screen {
        display: block;
    }

    .contacts .section_content_second_type {
        padding: 12.5rem 1.66rem 0;
    }

    .contacts_content {
        flex-direction: column;
        padding-bottom: 0;
    }

    .contacts_content_item,
    .contacts_content_item form {
        width: 90%;
    }

    .contacts_content_item:nth-of-type(2) {
        justify-content: flex-start;
    }

    .apply_form_btn {
        padding: 1.33rem 2.5rem;
    }

    .confidential_politics {
        top: unset;
        color: #C7C7C7;
        text-decoration: underline;
        position: absolute;
        z-index: 10;
        bottom: 1.6rem;
        left: 1.6rem;
    }

    .hidden_menu_background {
        bottom: 10rem;
    }

    .main_section_small_bg,
    .advantage_small_bg,
    .reasons_small_bg,
    .workers_small_bg_left,
    .workers_small_bg_right,
    .contacts_small_bg {
        display: block;
    }

    .advantage .title_style {
        color: #F5A9DB;
    }

    .reasons .title_style,
    .contacts .title_style {
        color: #AED5F8;
    }

    .workers .title_style {
        color: #C7C7C7;
    }

    .our_works .title_style {
        color: #F5A9DB;
    }

    .workers .section_content {
        padding: 15.25rem 1.66rem 1.66rem;
    }

    .contacts_content_item .normal_text,
    .contacts_content_item_group span {
        color: #FFFFFF;
    }

    .contacts_content_item_group path {
        fill: #9DC8EB;
    }

    .normal_text {
        font-size: 1.1rem;
    }

    .our_works_content .normal_text {
        width: unset;
    }

    .our_works .section_content {
        padding-top: 11rem
    }

    .our_works .title_style {
        color: #C7C7C7;
    }

    .workers_small_bg_left {
        top: 18%;
    }

    .workers_small_bg_right {
        top: 20%
    }

    .contacts_content_item form {
        padding-top: 13rem;
    }

}

@media screen and (min-width: 426px) and (max-width: 500px) {

    html,
    body {
        font-size: 13px;
        width: 100%;
        height: 100%;
    }

    .advantage_small_bg {
        top: -40%;
    }

    .all_sections {
        position: relative;
        display: block;
        overflow: unset;
    }

    .section_content {
        position: static;
        height: 100%;
        width: 100%;
        padding: 1.66rem 1.66rem;
    }

    .big_bg_pic,
    .parallax_wrap,
    .main-section__header,
    .big_screen_text,
    .workers_content_item:nth-of-type(1),
    .workers_content_item:nth-of-type(2) {
        display: none;
    }

    .page_section {
        flex: unset;
        height: 125vh;
    }

    .small_menu,
    .small_screen_text {
        display: block;
    }

    .company_logo_container {
        padding-top: 15rem;
    }

    .company_logo {
        width: 11.75rem;
        height: unset;
    }

    @keyframes animated_scroll {
        from {
            opacity: 1;
            top: 6rem;
        }

        to {
            opacity: 0;
            top: 11rem;
        }
    }

    .title_style {
        font-size: 1.5rem;
        text-align: center;
    }

    .normal_text {
        font-size: 1.33rem;
    }

    .advantages__content .normal_text {
        margin-right: unset;
        color: #ffffff;
    }

    .advantages__content {
        display: block;
        position: absolute;
        bottom: 10rem;
    }

    .advantage .section_content {
        position: relative;
        padding-top: 4rem;
    }

    .our_works_content_item__controls {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .our_works_content_item__controls a {
        background-color: #E2197E;
        padding: 1.33rem 3.5rem;
        border-radius: 2.5rem;
        margin-bottom: 2.416rem;
    }

    .our_works_content_page_link {
        text-decoration: unset;
        text-transform: capitalize;
        color: #ffffff;
    }

    .our_works_content_control {
        color: #9C9C9C;
    }

    .our_works_content_control svg {
        margin-left: 1rem;
    }

    .our_works_content_control path {
        stroke: #9C9C9C;
    }

    .our_works_content_item_img {
        right: -10rem;
        z-index: -1;
        display: none;
    }

    /*.our_works .section_content_second_type {
        padding: 8.25rem 1.66rem 0;
    }*/

    .reasons_content {
        padding-left: unset;
        padding-top: 3.33rem;
    }

    .workers_slider__small_screen {
        display: block;
    }

    .contacts .section_content_second_type {
        padding: 12.5rem 1.66rem 0;
    }

    .contacts_content {
        flex-direction: column;
        padding-bottom: 0;
    }

    .contacts_content_item,
    .contacts_content_item form {
        width: 90%;
    }

    .contacts_content_item:nth-of-type(2) {
        justify-content: flex-start;
    }

    .apply_form_btn {
        padding: 1.33rem 2.5rem;
    }

    .confidential_politics {
        top: unset;
        color: #C7C7C7;
        text-decoration: underline;
        position: absolute;
        z-index: 10;
        bottom: 1.6rem;
        left: 1.6rem;
    }

    .hidden_menu_background {
        bottom: 10rem;
    }

    .main_section_small_bg,
    .advantage_small_bg,
    .reasons_small_bg,
    .workers_small_bg_left,
    .workers_small_bg_right,
    .contacts_small_bg {
        display: block;
    }

    .advantage .title_style {
        color: #F5A9DB;
    }

    .reasons .title_style,
    .contacts .title_style {
        color: #AED5F8;
    }

    .workers .title_style {
        color: #C7C7C7;
    }

    .our_works .title_style {
        color: #F5A9DB;
    }

    .workers .section_content {
        padding: 15.25rem 1.66rem 1.66rem;
    }

    .contacts_content_item .normal_text,
    .contacts_content_item_group span {
        color: #FFFFFF;
    }

    .contacts_content_item_group path {
        fill: #9DC8EB;
    }

    .normal_text {
        font-size: 1.1rem;
    }

    .our_works_content .normal_text {
        width: unset;
    }

    .our_works .section_content {
        padding-top: 11rem
    }

    .our_works .title_style {
        color: #C7C7C7;
    }

    .workers_small_bg_left {
        top: 18%;
    }

    .workers_small_bg_right {
        top: 20%
    }

    .contacts_content_item form {
        padding-top: 8rem;
    }

}

@media screen and (min-width: 376px) and (max-width: 425px) {

    html,
    body {
        font-size: 13px;
        width: 100%;
        height: 100%;
    }

    .advantage_small_bg {
        top: -40%;
    }

    .all_sections {
        position: relative;
        display: block;
        overflow: unset;
    }

    .section_content {
        position: static;
        height: 100%;
        width: 100%;
        padding: 1.66rem 1.66rem;
    }

    .big_bg_pic,
    .parallax_wrap,
    .main-section__header,
    .big_screen_text,
    .workers_content_item:nth-of-type(1),
    .workers_content_item:nth-of-type(2) {
        display: none;
    }

    .page_section {
        flex: unset;
        height: 125vh;
    }

    .small_menu,
    .small_screen_text {
        display: block;
    }

    .company_logo_container {
        padding-top: 15rem;
    }

    .company_logo {
        width: 11.75rem;
        height: unset;
    }

    @keyframes animated_scroll {
        from {
            opacity: 1;
            top: 6rem;
        }

        to {
            opacity: 0;
            top: 11rem;
        }
    }

    .title_style {
        font-size: 1.5rem;
        text-align: center;
    }

    .normal_text {
        font-size: 1.33rem;
    }

    .advantages__content .normal_text {
        margin-right: unset;
        color: #ffffff;
    }

    .advantages__content {
        display: block;
        position: absolute;
        bottom: 10rem;
    }

    .advantage .section_content {
        position: relative;
        padding-top: 4rem;
    }

    .our_works_content_item__controls {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .our_works_content_item__controls a {
        background-color: #E2197E;
        padding: 1.33rem 3.5rem;
        border-radius: 2.5rem;
        margin-bottom: 2.416rem;
    }

    .our_works_content_page_link {
        text-decoration: unset;
        text-transform: capitalize;
        color: #ffffff;
    }

    .our_works_content_control {
        color: #9C9C9C;
    }

    .our_works_content_control svg {
        margin-left: 1rem;
    }

    .our_works_content_control path {
        stroke: #9C9C9C;
    }

    .our_works_content_item_img {
        right: -10rem;
        z-index: -1;
        display: none;
    }

    /*.our_works .section_content_second_type {
        padding: 8.25rem 1.66rem 0;
    }*/

    .reasons_content {
        padding-left: unset;
        padding-top: 3.33rem;
    }

    .workers_slider__small_screen {
        display: block;
    }

    .contacts .section_content_second_type {
        padding: 12.5rem 1.66rem 0;
    }

    .contacts_content {
        flex-direction: column;
        padding-bottom: 0;
    }

    .contacts_content_item,
    .contacts_content_item form {
        width: 90%;
    }

    .contacts_content_item:nth-of-type(2) {
        justify-content: flex-start;
    }

    .apply_form_btn {
        padding: 1.33rem 2.5rem;
    }

    .confidential_politics {
        top: unset;
        color: #C7C7C7;
        text-decoration: underline;
        position: absolute;
        z-index: 10;
        bottom: 1.6rem;
        left: 1.6rem;
    }

    .hidden_menu_background {
        bottom: 10rem;
    }

    .main_section_small_bg,
    .advantage_small_bg,
    .reasons_small_bg,
    .workers_small_bg_left,
    .workers_small_bg_right,
    .contacts_small_bg {
        display: block;
    }

    .advantage .title_style {
        color: #F5A9DB;
    }

    .reasons .title_style,
    .contacts .title_style {
        color: #AED5F8;
    }

    .workers .title_style {
        color: #C7C7C7;
    }

    .our_works .title_style {
        color: #F5A9DB;
    }

    .workers .section_content {
        padding: 8.25rem 1.66rem 1.66rem;
    }

    .contacts_content_item .normal_text,
    .contacts_content_item_group span {
        color: #FFFFFF;
    }

    .contacts_content_item_group path {
        fill: #9DC8EB;
    }

    .normal_text {
        font-size: 1.1rem;
    }

    .our_works_content .normal_text {
        width: unset;
    }

    .our_works .section_content {
        padding-top: 7rem
    }

}

@media screen and (min-width: 351px) and (max-width: 375px) {

    html,
    body {
        font-size: 13px;
        width: 100%;
        height: 100%;
    }

    .all_sections {
        position: relative;
        display: block;
        overflow: unset;
    }

    .section_content {
        position: static;
        height: 100%;
        width: 100%;
        padding: 1.66rem 1.66rem;
    }

    .big_bg_pic,
    .parallax_wrap,
    .main-section__header,
    .big_screen_text,
    .workers_content_item:nth-of-type(1),
    .workers_content_item:nth-of-type(2) {
        display: none;
    }

    .page_section {
        flex: unset;
        height: 100vh;
    }

    .small_menu,
    .small_screen_text {
        display: block;
    }

    .company_logo_container {
        padding-top: 15rem;
    }

    .company_logo {
        width: 11.75rem;
        height: unset;
    }

    @keyframes animated_scroll {
        from {
            opacity: 1;
            top: 6rem;
        }

        to {
            opacity: 0;
            top: 11rem;
        }
    }

    .title_style {
        font-size: 1.5rem;
        text-align: center;
    }

    .normal_text {
        font-size: 1.33rem;
    }

    .advantages__content .normal_text {
        margin-right: unset;
        color: #ffffff;
    }

    .advantages__content {
        display: block;
        position: absolute;
        bottom: 10rem;
    }

    .advantage .section_content {
        position: relative;
        padding-top: 4rem;
    }

    .our_works_content_item__controls {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .our_works_content_item__controls a {
        background-color: #E2197E;
        padding: 1.33rem 3.5rem;
        border-radius: 2.5rem;
        margin-bottom: 2.416rem;
    }

    .our_works_content_page_link {
        text-decoration: unset;
        text-transform: capitalize;
        color: #ffffff;
    }

    .our_works_content_control {
        color: #9C9C9C;
    }

    .our_works_content_control svg {
        margin-left: 1rem;
    }

    .our_works_content_control path {
        stroke: #9C9C9C;
    }

    .our_works_content_item_img {
        right: -10rem;
        z-index: -1;
        display: none;
    }

    /*.our_works .section_content_second_type {
        padding: 8.25rem 1.66rem 0;
    }*/

    .reasons_content {
        padding-left: unset;
        padding-top: 3.33rem;
    }

    .workers_slider__small_screen {
        display: block;
    }

    .contacts .section_content_second_type {
        padding: 7.5rem 1.66rem 0;
    }

    .contacts_content {
        flex-direction: column;
        padding-bottom: 0;
    }

    .contacts_content_item,
    .contacts_content_item form {
        width: 90%;
    }

    .contacts_content_item:nth-of-type(2) {
        justify-content: flex-start;
    }

    .apply_form_btn {
        padding: 1.33rem 2.5rem;
    }

    .confidential_politics {
        top: unset;
        color: #C7C7C7;
        text-decoration: underline;
        position: absolute;
        z-index: 10;
        bottom: 1.6rem;
        left: 1.6rem;
    }

    .main_section_small_bg,
    .advantage_small_bg,
    .reasons_small_bg,
    .workers_small_bg_left,
    .workers_small_bg_right,
    .contacts_small_bg {
        display: block;
    }

    .advantage .title_style {
        color: #F5A9DB;
    }

    .reasons .title_style,
    .contacts .title_style {
        color: #AED5F8;
    }

    .workers .title_style,
    .our_works .title_style {
        color: #C7C7C7;
    }

    .workers .section_content {
        padding: 8.25rem 1.66rem 1.66rem;
    }

    .contacts_content_item .normal_text,
    .contacts_content_item_group span {
        color: #FFFFFF;
    }

    .contacts_content_item_group path {
        fill: #9DC8EB;
    }

    .normal_text {
        font-size: 1.1rem;
    }

    .our_works_content .normal_text {
        width: unset;
    }

    .our_works .section_content {
        padding-top: 7rem
    }

}

@media screen and (min-width: 320px) and (max-width: 350px) {

    html,
    body {
        font-size: 12px;
        width: 100%;
        height: 100%;
    }

    .all_sections {
        position: relative;
        display: block;
        overflow: unset;
    }

    .section_content {
        position: static;
        height: 100%;
        width: 100%;
        padding: 1.66rem 1.66rem;
    }

    .big_bg_pic,
    .parallax_wrap,
    .main-section__header,
    .big_screen_text,
    .workers_content_item:nth-of-type(1),
    .workers_content_item:nth-of-type(2) {
        display: none;
    }

    .page_section {
        flex: unset;
        height: 100vh;
    }

    .small_menu,
    .small_screen_text {
        display: block;
    }

    .company_logo_container {
        padding-top: 15rem;
    }

    .company_logo {
        width: 11.75rem;
        height: unset;
    }

    @keyframes animated_scroll {
        from {
            opacity: 1;
            top: 6rem;
        }

        to {
            opacity: 0;
            top: 11rem;
        }
    }

    .title_style {
        font-size: 1.5rem;
        text-align: center;
    }

    .normal_text {
        font-size: 1.33rem;
    }

    .advantages__content .normal_text {
        margin-right: unset;
        color: #ffffff;
    }

    .advantages__content {
        display: block;
        position: absolute;
        bottom: 10rem;
    }

    .advantage .section_content {
        position: relative;
        padding-top: 4rem;
    }

    .our_works_content_item__controls {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .our_works_content_item__controls a {
        background-color: #E2197E;
        padding: 1.33rem 3.5rem;
        border-radius: 2.5rem;
        margin-bottom: 2.416rem;
    }

    .our_works_content_page_link {
        text-decoration: unset;
        text-transform: capitalize;
        color: #ffffff;
    }

    .our_works_content_control {
        color: #9C9C9C;
    }

    .our_works_content_control svg {
        margin-left: 1rem;
    }

    .our_works_content_control path {
        stroke: #9C9C9C;
    }

    .our_works_content_item_img {
        right: -10rem;
        z-index: -1;
        display: none;
    }

    /*.our_works .section_content_second_type {
        padding: 8.25rem 1.66rem 0;
    }*/

    .reasons_content {
        padding-left: unset;
        padding-top: 3.33rem;
    }

    .workers_slider__small_screen {
        display: block;
    }

    .contacts .section_content_second_type {
        padding: 7.5rem 1.66rem 0;
    }

    .contacts_content {
        flex-direction: column;
        padding-bottom: 0;
    }

    .contacts_content_item,
    .contacts_content_item form {
        width: 90%;
    }

    .contacts_content_item:nth-of-type(2) {
        justify-content: flex-start;
    }

    .apply_form_btn {
        padding: 1.33rem 2.5rem;
    }

    .confidential_politics {
        top: unset;
        color: #C7C7C7;
        text-decoration: underline;
        position: absolute;
        z-index: 10;
        bottom: 1.6rem;
        left: 1.6rem;
    }

    .main_section_small_bg,
    .advantage_small_bg,
    .reasons_small_bg,
    .workers_small_bg_left,
    .workers_small_bg_right,
    .contacts_small_bg {
        display: block;
    }

    .advantage .title_style {
        color: #F5A9DB;
    }

    .reasons .title_style,
    .contacts .title_style {
        color: #AED5F8;
    }

    .workers .title_style,
    .our_works .title_style {
        color: #C7C7C7;
    }

    .workers .section_content {
        padding: 8.25rem 1.66rem 1.66rem;
    }

    .contacts_content_item .normal_text,
    .contacts_content_item_group span {
        color: #FFFFFF;
    }

    .contacts_content_item_group path {
        fill: #9DC8EB;
    }

    .normal_text {
        font-size: 1.1rem;
    }

    .our_works_content .normal_text {
        width: unset;
    }

}