::-webkit-scrollbar {
    width: 1px;
    height: 1px;
}

::-webkit-scrollbar-button {
    width: 1px;
    height: 1px;
}

html,
body {
    width: 100vw;
    height: 100vh;
    font-size: 16px;
    scroll-behavior: smooth;
}


body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    -webkit-overflow-scrolling: touch;
    overflow-x:hidden;
}

.all_sections {
    /*
    width: 100vh;
    height: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transform-origin: right top;
    transform-origin: right top;
    -webkit-transform: rotate(-90deg) translate3d(0, -100vh, 0);
    transform: rotate(-90deg) translate3d(0, -100vh, 0);*/
    overflow:hidden;
    white-space:nowrap;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display:flex;
    flex-wrap:no-wrap;
}

.section_content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 2.25rem 3.8125rem;
    z-index: 10;
}

.section_content_second_type {
    padding: 5.25rem 6.375rem 0;
}

/*.all_sections>* {
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: rotate(90deg) translate3d(0, calc(-100vh), 0);
    transform: rotate(90deg) translate3d(0, calc(-100vh), 0); */


.page_section {/*
    width: 100vw;
    height: 100vw;
    padding: 2.25rem 3.8125rem;*/
    flex:0 0 100vw;
    height:100vh;
    display:flex;
    position:relative;
    align-items:center;
    justify-content:center;
}

.scroll_effect {
    overflow-y: hidden
}

.small_text {
    font-size: 0.9375rem;
    color: #000000;
}

.normal_text {
    font-size: 1.5625rem;
}

.title_style {
    font-size: 2.5rem;
    font-weight: 600;
    color: #E5E5E5;
    width: 100%;
    height: fit-content;
    z-index: 10;
    position: relative;
}

.main-section__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 9.625rem;
}

.company_logo_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.company_logo {
    width: 13.75rem;
    height: 5.75rem;
}

.company_logo_container span {
    padding-top: 1.625rem;
}

.scroll_controler_conatiner {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 11.5rem;
}

.advantage {
    display: flex;
    flex-direction: column;
}

.advantage .title_style {
    text-align: center;
}

.advantages__content {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-top: 2.9375rem;
}

.advantages__content .normal_text {
    margin-right: 10%;
}

.advantages__content span {
    font-weight: bold;
}


.our_works {
    display: flex;
    flex-direction: column;
}

.our_works_content {
    width: 100%;
    padding-top: 3.8125rem;
    position: relative;
    height: 100%;
}

.our_works_content .normal_text {
    width: 60%;
}

.our_works_content_item__controls {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.9375rem;
}

.our_works_content_item__controls svg {
    width: 4.125rem;
    height: 0.75rem;
}

.our_works_content_item__controls a {
    text-decoration: unset;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.our_works_content_page_link {
    font-size: 1.25rem;
    text-decoration: underline;
    color: #AEAEAE;
}

.our_works_content_control {
    color: #E1197E;
    font-size: 1.25rem;
    text-decoration: underline;
    margin-right: 1rem;
    cursor: pointer;
}

.our_works_content__logo {
    background-image: url(../img/logo1.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 16.5625rem;
    height: 7.6875rem;
    margin-bottom: 1rem;
}


.our_works_content_item_img{
    position: absolute;
    right: 3.125rem;
    height: 28rem;
    width: 23rem;
    bottom: 2.5rem;
    background-image: url(../img/our_works1.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.reasons .title_style,
.workers .title_style {
    color: #DE73B8;
}

.reasons_content {
    width: 100%;
    padding-top: 2.25rem;
    padding-left: 4.5rem;
    z-index: 10;
    position: relative;
}

.reasons_content_item {
    padding-bottom: 2.25rem;
}

.reasons_content_item .normal_text,
.reasons_content_item h3 {
    color: #FEFEFE;
}

.reasons_content_item h3 {
    font-size: 1.875rem;
    font-weight: 600;
    padding-bottom: 0.8rem;
}

.workers_content {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 10;
}

.workers_content_item:nth-of-type(1) {
    width: 40%;
}


.workers_content_item:nth-of-type(2) {
    width: 55%;
}

.workers_content_item .small_text {
    color: #FEFEFE;
    padding-top: 0.8125rem;
    display: block;
}

.workers_content_item h3 {
    color: #FFFFFF;
    font-size: 2.25rem;
    font-weight: bold;
    margin-top: -5rem;
    width: 80%;

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.workers_content_item:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.workers_content_item:nth-of-type(2) {
    display: flex;
    flex-wrap: wrap;
    margin-top: -1rem;
}

.workers_content_item_pic {
    width: 7.75rem;
    height: 7.75rem;
    border-radius: 50%;
    box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 2rem 2rem 0;

    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.workers_content_item_pic:hover,
.workers_content_item_pic.hover{
    transform: scale(1.2);
    box-shadow: 0.375rem 0.5rem 0.8125rem rgba(0, 0, 0, 0.25);
}

.workers_scills_wrap {
    display: flex;
    width: 100%;
    padding-top: 1.6875rem;
}

.workers_skills {
    display: flex;
    flex-wrap: wrap;
}

.workers_skills li {
    font-size: 0.8125rem;
    color: #ffffff;
    width: 50%;
}

.workers_content_item_pic:nth-of-type(1) {
    background-image: url(../img/worker_pic1.jpg);
}

.workers_content_item_pic:nth-of-type(2) {
    background-image: url(../img/worker_pic2.png);
}

.workers_content_item_pic:nth-of-type(3) {
    background-image: url(../img/worker_pic3.png);
}

.workers_content_item_pic:nth-of-type(4) {
    background-image: url(../img/worker_pic4.png);
}

.workers_content_item_pic:nth-of-type(5) {
    background-image: url(../img/worker_pic5.png);
}

.workers_content_item_pic:nth-of-type(6) {
    background-image: url(../img/worker_pic6.png);
}

.workers_content_item_pic:nth-of-type(7) {
    background-image: url(../img/worker_pic7.png);
}

.workers_content_item_pic:nth-of-type(8) {
    background-image: url(../img/worker_pic8.png);
}

.workers_content_item_pic:nth-of-type(9) {
    background-image: url(../img/worker_pic9.png);
}

.contacts_content {
    display: flex;
    padding-top: 2.3125rem;
    padding-bottom: 10.875rem;
}

.contacts_content h3 {
    padding-bottom: 2.1875rem;
}

.contacts_content_item {
    width: 50%;
}

.contacts_content_item:nth-of-type(2) {
    display: flex;
    justify-content: flex-end;
}

.contacts_content_item_group {
    display: flex;
    align-items: center;
    padding-bottom: 1.3125rem;
}

.contacts_content_item_group svg {
    margin-right: 1.5rem;
    width: 1.5625rem;
    height: 1.5625rem;
}

.contacts_content_item_group span {
    font-size: 1.25rem;
}

.contacts_content_item form {
    display: flex;
    flex-direction: column;
    padding-top: 2.5625rem;
}

.apply_form_input {
    outline: none;
    border: unset;
    border-bottom: 0.0625rem solid #7E7E7E;
    color: #7E7E7E;
    font-size: 1.25rem;
    background-color: transparent;
}

.apply_form_input::placeholder {
    color: #7E7E7E;
    font-size: 1.25rem;
    font-family: 'Montserrat', sans-serif;
}

.apply_form_input:nth-of-type(2) {
    margin-top: 1.75rem;
}

.apply_form_btn {
    background-color: #E2197E;
    border-radius: 1.875rem;
    border: unset;
    color: #FEFEFE;
    font-size: 1.25rem;
    line-height: 1.3;
    padding: 1rem 2.5rem;
    outline: none;
    margin-top: 3.4375rem;
}

.confidential_politics {
    width: 30%;
    color: #FEFEFE;
    text-decoration: underline;
    position: absolute;
    z-index: 10;
    height: 2rem;
    top: calc(100vh - 4rem);
    left: 35%;
    right: 35%;
    ;
}

.main_section_bg_left {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 13.625rem;
    width: 32rem;
}

.advantage_bg {
    position: absolute;
    left: -25%;
    right: -50%;
    bottom: 0;
    height: 27.8125rem;
}

.reasons_bg {
    position: absolute;
    right: -115rem;
    top: 0;
    bottom: 1rem;
    left: -77rem;
}


.apply_bg {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 16.0625rem;
    width: 61rem;
}


.scroll_pic {
    position: absolute;
    width: 0.6875rem;
    animation: animated_scroll 1s infinite ease-in-out;
}

.invisible_item {
    display: none;
    opacity: 0;
}

.slider_anumation {
    position: relative;
    animation: animated_slider 0.3s infinite ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

.parallax_back_layer {
    background-image: url(../img/parallax_back_layer.svg);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    bottom: 0;
    height: 100vw;
    width: 100vh;
    z-index: -1;
}

.parallax_wrap {
   position: absolute;
   left: 0;
   right: 0;
   bottom: 0;
   height: 100vh;
   width: 100vw;
   overflow: hidden;
}

.parallax_front_layer {
    background-image: url(../img/parallax_front_layer.svg);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

@keyframes animated_scroll {
    from {
        opacity: 1;
        top: 2rem;
    }

    to {
        opacity: 0;
        top: 8rem;
    }
}

@keyframes animated_slider {
    from {
        opacity: 0;
        transform: matrix(0.90, 0.00, 0.00, 1.00, 20, -20);
        -ms-transform: matrix(0.90, 0.00, 0.00, 1.00, 20, -20);
        -webkit-transform: matrix(0.90, 0.00, 0.00, 1.00, 20, -20);

    }

    to {
        opacity: 1;
        transform: matrix(1.00, 0.00, 0.00, 1.00, 0, 0);
        -ms-transform: matrix(1.00, 0.00, 0.00, 1.00, 0, 0);
        -webkit-transform: matrix(1.00, 0.00, 0.00, 1.00, 0, 0);
    }
}


@media screen and (min-width: 2001px) and (max-width: 2560px) {

    html,
    body {
        font-size: 28px;
    }
}

@media screen and (min-width: 1801px) and (max-width: 2000px) {

    html,
    body {
        font-size: 25px;
    }
}

@media screen and (min-width: 1441px) and (max-width: 1800px) {

    html,
    body {
        font-size: 19.5px;
    }
}

@media screen and (min-width: 1300px) and (max-width: 1440px) {

    html,
    body {
        font-size: 18px;
    }
}

@media screen and (min-width: 1056px) and (max-width: 1195px) {

    html,
    body {
        font-size: 16px;
    }

    .reasons_bg {
        height: 65%;
    }
}

@media screen and (min-width: 901px) and (max-width: 1055px) {

    html,
    body {
        font-size: 14px;
    }

    .reasons_bg {
        height: 65%;
    }

    .advantage,
    .our_works,
    .reasons,
    .workers,
    .contacts {
        padding: 5.5625rem 10.25rem 0;
    }

    .advantage_bg {
        top: calc(100vh - 24.8125rem);
    }
}


@media screen and (min-width: 721px) and (max-width: 900px) {

    html,
    body {
        font-size: 13px;
    }

    .reasons_bg {
        height: 71%;
        left: -69rem;
    }

    .advantage_bg {
        top: calc(100vh - 24.8125rem);
    }

    .advantage,
    .our_works,
    .reasons,
    .workers,
    .contacts {
        padding: 5.5625rem 10.25rem 0;
    }

    .our_works_content_item__controls {
        width: 75%;
    }

    .apply_bg {
        right: -4rem;
    }
}

@media screen and (min-width: 600px) and (max-width: 720px) {

    html,
    body {
        font-size: 12px;
    }

    .advantage_bg {
        height: 36.8125rem;
    }

    .advantage {
        padding: 5.5625rem 8.25rem 0;
    }

    .our_works_content_item__controls {
        width: 75%;
    }

    .advantages__content {
        display: block;
    }
}